* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color:#024e76;
  font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: #024e76;
  font-family: sans-serif;
}

nav ul li a:hover{
color: red;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 27%;
}

.nav-links li{
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width:1024px) {
  .nav-links{
    width: 60%;
  }
}

@media  screen and (max-width:768px) {
  body{
    overflow-x:hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #024e76;;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
  }

  .nav-links li{
    opacity: 0;
  }

  .burger{
    display: block;
  }
}

header a {
  text-decoration: none;
  color: #024e76;
}

header nav {
  float: right;
  margin: 0 30px;
  font-weight: lighter;
  font-size: 25px;
} 

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}
/*-- End of Header--*/

/*-- about me section--*/
.intro {
  text-align: center;
  float: left;
  margin: 10px;
  background-color: rgb(243, 228, 140);
}

.intro p {
 line-height: 1.7;
 width: 80%;
 font-size: 20px;
 margin: 0 auto;
 background-color: rgb(243, 228, 140);
}

.picture {
  width: 25%;
  text-align: center;
  margin: 13.5px; ;
  background-color: rgb(243, 228, 140);
}

h2 {
   font-size: 45px;
   color: #024e76;
   margin-bottom: 35px;
   padding: 80px 100px 20px 100px;
   display: inline-block;
   border-bottom: 3px solid;
   text-align: center;
 }

 .work {
  text-align: center;
  margin: 15px;
 }

 .run-buddy {
  width: 25%;
  text-align: center;
  margin: 13.5px; ;
  border: 5px solid #555;
 }

 .coming-soon {
  border: 5px solid #555;
 }

 .contact {
   text-align: center;
   background-color: rgb(243, 228, 140);

 }

 .resume {
   text-align: center;
   background-color: rgb(243, 228, 140);
 }

 footer {
  background: #024e76;
  width: 100%;
  padding: 40px 35px;
}

footer h3 {
  display: inline;
  color: rgb(243, 228, 140);
  font-size: 30px;
  margin: 0;
}

footer a {
  color: rgb(243, 228, 140);
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
  color:rgb(243, 228, 140);
}

